/*
 * [[m:user:Hoo man]]; 2013-01-13;
 * Stylesheet for activeSysops.js
 */

#wikiMarker {
	position: absolute;
	top: 0px;
	margin: 5px;
	z-index: 5;
	font-size: 16px;
	left: 0px;
}
#wikiMarker span {
	color: white;
	margin-left: 3px;
	margin-right: 3px;
	padding: 2px;
}
#activeSysopMarker {
	background: url("//upload.wikimedia.org/wikipedia/commons/7/79/Button_shade.png") repeat scroll 0pt 0pt black;
	border: 1px solid gray;
}
#GSWikiMarker {
	background: url("//upload.wikimedia.org/wikipedia/commons/7/79/Button_shade.png") repeat scroll 0pt 0pt purple;
	border: 1px solid black;
}
